<div class="panel panel-default clearfix no-margin">

  <div class="panel-heading text-center clearfix">
    <form class="form-inline margin-tb" onsubmit="return subject_search()">
      <div class="form-group pull-left dropdown margin-left">
        <button type="button" class="btn btn-primary btn-mg dropdown-toggle" data-toggle="dropdown">Batch&nbsp;
          <span class="caret"></span></button>
        <div class="dropdown-menu">
          <div class="margin-lr">
            {{#each batches}}
            <input type="radio" name="subject_batch" value="{{name}}" onchange="changeIn_subject_batch()"> {{name}}
            <br>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="form-group pull-left">
        <input type="text" class="form-control input-mg" placeholder="Search" id="subject_query_inp">
      </div>
      <div class="form-group pull-left margin-lr">
        <button type="submit" class="btn btn-danger btn-mg" id="subject_search_btn" data-loading-text="<i class='fa fa-circle-o-not fa-spin'></i> searching.." disabled>
          Search</button>
      </div>
      <div class="form-group pull-left">
        <button type="button" class="btn btn-primary btn-mg" onclick="subject_search_clear()">
          Clear Search</button>
      </div>
    </form>
    <button type="button" class="btn btn-primary btn-mg pull-right margin-lr" onclick="show_modal('upload_subject_modal')">
      Import CSV</button>
    <button type="button" class="btn btn-primary btn-mg pull-right" onclick="show_modal('add_subject_modal')">
      Add subject</button>
  </div>

  <div class="panel-body text-center">
    <ul class="list-group text-left" id="subject_list">

    </ul>
  </div>

  <div class="panel-footer text-center clearfix">
    <div class="pull-right">
      <button type="button" class="btn btn-default" id="subject_prev_btn" onclick="subject_list_prev()" disabled>&lt; Previous </button>
      <button type="button" class="btn btn-default" id="subject_next_btn" onclick="subject_list_next()" disabled> Next &gt;</button>
    </div>
    <div id="subject_list_footer_info">
    </div>
  </div>

  <!--
  --------------------------------------------------------
  MODAL SECTION
  --------------------------------------------------------
  -->
  <!----------------------------------------->
  <div id="add_subject_modal" class="modal fade text-left">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add subject</h4>
        </div>
        <div class="modal-body">
          <div id="add_subject_info" class="margin-bottom">
          </div>
          <div class="well no-margin">
              <form id="subject_add_form">
                <div class="form-group">
                    <label for="inputSubjectBatch">Batch</label>
                    <select class="form-control" id="selectSubjectBatch" name="batch">
                      {{#each batches}}
                        <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputSubjectCode">Subject Code</label>
                    <input type="text" class="form-control" id="inputSubjectCode" name="sub_code" placeholder="Code">
                </div>
                <div class="form-group">
                    <label for="inputSubjectName">Subject Name</label>
                    <input type="text" class="form-control" id="inputSubjectName" name="sub_name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="inputSubjectCredit">No. of Credits</label>
                    <input type="text" class="form-control" id="inputSubjectCredits" name="sub_credits" placeholder="Credits">
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary pull-left" onclick="$('#'+subject_add_form).trigger('reset');">Clear</button>
            <button type="submit" class="btn btn-primary" id="add_subject_btn" data-loading-text="<i class='fa fa-circle-o-not  ch fa-spin'></i> please wait.."
              onclick="add_subject()">Add</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <!----------------------------------------->
  <div id="upload_subject_modal" class="modal fade text-left">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Upload subject Data</h4></div>
          <div class="modal-body">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span></span>
              <input type="text" class="form-control" placeholder="Select a file to upload" id="uploadsubjectFile">
              <span class="input-group-btn">
                <span class="btn btn-default btn-file">Browse
                <input type="file" name="subject_csv" onchange="$('#uploadsubjectFile').val($(this).val());"></span>
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" onclick="uploadsubjectFile()">Upload</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!----------------------------------------->
  <div id="edit_subject_modal" class="modal fade text-left">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit subject</h4>
        </div>
        <div class="modal-body">
          <div class="well">
            <div id="edit_subject_info">
              <div class="alert alert-info text-center">
                <span><i class="fa fa-circle-o-notch fa-spin"></i> <strong>Loading..</strong></span>
              </div>
            </div>
            <form id="subject_edit_form">

            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="edit_subject_btn" data-loading-text="<i class='fa fa-circle-o-not  ch fa-spin'></i> please wait.."
            onclick="submit_form_subject_edit()">Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------------------->

  <div id="delete_subject_modal" class="modal fade text-left">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure ?</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" id="delete_subject_batch" value="">
          <input type="hidden" id="delete_subject_code" value="">
          <p class="well">Are you want to delete the subject ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="delete_subject_btn" data-loading-text="<i class='fa fa-circle-o-not  ch fa-spin'></i> please wait.."
            onclick="delete_subject()">Delete</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
