<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>History Card Management System | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
	
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Welcome to HMS</h1>
	<h1><small>Login</small></h1>
</div>

<!-- Simple Login - START -->
<form class="col-md-6" method="post" action="/login">
    <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="Username" name="usr">
    </div>
    <div class="form-group">
        <input type="password" class="form-control input-lg" placeholder="Password" name="pass">
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">Login</button>
    </div>
</form>
<!-- Simple Login - END -->

</div>

</body>
</html>