<html>
	<head>
		<meta charset="utf-8" />
		<title>History Card Management System | User</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<!-- Load css -->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/c3.min.css">

		<!-- Load js -->
		<script type="text/javascript" src="js/d3.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="js/c3.min.js"></script>
		<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/stud_ctrl.js"></script>
		<script type="text/javascript" src="js/handlebars.js"></script>
		<script type="text/javascript" src="js/jspdf.js"></script>
        <script type="text/javascript" src="js/split_text_to_size.js"></script>
        <script type="text/javascript" src="js/standard_fonts_metrics.js"></script>
        <script type="text/javascript" src="js/FileSaver.js"></script>
        <script type="text/javascript" src="js/from_html.js"></script>
        <script type="text/javascript" src="js/addimage.js"></script>
        <script type="text/javascript" src="js/addhtml.js"></script>
        <script type="text/javascript" src="js/canvas.js"></script>
        <script type="text/javascript" src="js/cell.js"></script>
        <script type="text/javascript" src="js/svg.js"></script>
        <script type="text/javascript" src="js/pdffromHTML.js"></script>
    </head>
	<body class="container">
		<div id="pdf2htmldiv">
		<div class="row clearfix">
		  <div class="col-md-12 no-padding">
				<div class="box">

					<nav class="navbar navbar-default">

						<div class="navbar-header">
							<a class="navbar-brand" href="#">History Card Mangagement System</a>
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							</button>
						</div>

						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										<span class="glyphicon glyphicon-user"></span>  {{username}} <cspan class="caret"></span>
									</a>
									<ul class="dropdown-menu">
				            <li><a href="#">Profile</a></li>
				            <li><a href="#">Settings</a></li>
				          </ul>
								</li>
								<li><a href="logout"><span class="glyphicon glyphicon-log-out"></span>  logout</a></li>
							</ul>
					</div>

					</nav>
				</div>
			</div>
		</div>

		<div class="row clearfix">
		  <div class="col-md-12 no-padding">
				<ul class="nav nav-tabs">
			    <li class="active"><a data-toggle="tab" href="#reports"><span class="glyphicon glyphicon-tasks"></span>  Reports</a></li>
			    <li><a data-toggle="tab" href="#graphs"><span class="glyphicon glyphicon-signal"></span> Graphs</a></li>
				</ul>

				<div class="tab-content border-no-top margin-all">
			    <div id="reports" class="tab-pane fade in active">

							<div class="panel panel-default clearfix no-margin">

								<div class="panel-heading text-center">
									<form class="form-inline margin-tb" id="report_form"  onsubmit="return getSemReport(1)">
									    <div class="form-group">
									        <input type="text" class="form-control input-mg" placeholder="Semester" name="sem">
									    </div>
									    <div class="form-group">
									      <button type="submit" class="btn btn-primary btn-mg btn-block" id="load1"
									      data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading.." >
									      Check</button>
									    </div>
										    <div class="form-group  pull-right">
											<button type="button" class="btn btn-primary btn-mg btn-block" id="credits_btn"
											data-toggle="popover" data-content="<span class='fa fa-circle-o-notch fa-spin'></span> Loading.."
											data-placement="auto top" data-html="true" title=".<a href='#' class='close'>&times;</a>" onclick="getCredits()">
											Credits</button>
										</div>
										<div class="form-group pull-right margin-lr">
											<button type="button" class="btn btn-primary btn-mg btn-block" id="cgpa_btn"
											data-toggle="popover" data-content="<span class='fa fa-circle-o-notch fa-spin'></span> Loading.."
											data-placement="auto top" data-html="true" title=".<a href='#' class='close'>&times;</a>" onclick="getCgpa()">
											CGPA</button>
										</div>
									</form>
								</div>

								<div class="panel-body text-center">
									<div class="table-responsive">
										<table class="table table-bordered small no-margin">
					            <thead>
					                <tr>
					                    <th>Subject Code</th>
					                    <th>CAT-1 Mark</th>
					                    <th>CAT-1 Attendence</th>
															<th>CAT-2 Mark</th>
					                    <th>CAT-2 Attendence</th>
															<th>CAT-3 Mark</th>
															<th>CAT-3 Attendence</th>
					                    <th>Internals</th>
					                    <th>Cummulative Attendence</th>
															<th>Grade</th>
															<th>No. of Arrear</th>
															<th>No. of Redo</th>
					                </tr>
					            </thead>
					            <tbody id="report_table_body">
						        	
						        </tbody>
					        	</table>
									</div>

									<div id="check">
									</div>

								</div>
								
								<div class="panel-footer text-center" id="table_footer">
		        					<p>Please load the semester details (use "Check" button).</p>
								</div>
								
							</div>
			    </div>
			    
			    <div id="graphs" class="tab-pane fade">
					<div class="panel panel-default clearfix no-margin">
						<div class="panel-heading text-center">
							<form class="form-inline margin-tb" id="graph_form" onsubmit="return getSemReport(2)">
									<div class="form-group">
											<input type="text" class="form-control input-mg" placeholder="Semester" name="sem">
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-primary btn-mg btn-block" id="load2" 
										data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading..">
										Check</button>
									</div>
									<div class="form-group pull-right">
										<button type="button" class="btn btn-primary btn-mg btn-block" id="load3" 
										data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading.." 
										onclick="getGpaGraph()">GPA</button>
									</div>
							</form>

						</div>

						<div class="panel-body clearfix no-padding no-margin" id="graph_body">
						</div>

						<div class="panel-footer text-center" id="graph_footer">
		        			<p>Please load the semester details (use "Check" button).</p>
						</div>

		    		</div>
				</div>

			    
			</div>
		</div>

		<div class="row clearfix">
		  <div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body text-center">Copyright @ NDT. All rights are reserved</div>
					</div>
			</div>
		</div>
	</div>
	</div>
	<!---
	<a href="javascript:pdfToHTML()" class="button">DOWNLOAD</a>
	---->
	</body>
</html>
